.rep-item{
  background-color: rgb(255, 255, 255);
  height: 64px;
  padding: 24px 32px;
  margin-bottom: 20px;
}
.rep-item a{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  outline: none;
  color: #0064EB;
}
.rep-item h4{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  overflow: hidden;
}
@media (max-width:800px) {

  .rep-item{
    background-color: rgb(255, 255, 255);
  }

}
