.success{
  margin: 43px 48px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 82px;
  font-family: Inter;
  font-style: normal;
}
@media (max-width:800px) {
  .success{
    margin:43px auto;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    justify-content: center;
  }
}
